AUTH_SERVICE_URL=http://localhost:8081
BIDDING_SERVICE_URL=http://localhost:8082
CATALOG_SERVICE_URL=http://localhost:8083
WALLET_SERVICE_URL=http://localhost:8084
NOTIFICATION_SERVICE_URL=http://localhost:8085
ORDER_SERVICE_URL=http://localhost:8086

# kunci enkripsi cookie session Next.js
SESSION_SECRET=your-super-long-random-base64-string-here-32-bytes

# token auth antar-service (wajib sama persis dengan yang ada di Spring Boot)
INTERNAL_SERVICE_TOKEN=your-shared-backend-internal-service-token-base64