@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Your custom BidMart Colors */
  --color-bidnavy: #003060;
  --color-bidnavy2: #00162D;
  --color-bidcream: #F1E9D9;

  /* Your custom Font */
  --font-sans: var(--font-plus-jakarta), system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}